$fontfamily: 'FF_DIN_Round_Pro';
$minwidth:270px;
$mw:1170;
$md1:$mw+90;
$md2:1000;
$md3:780;
$md4:479.98;

$whiteColor:#000;
$transition-time: .2s;
$mt-section: 80px;
$main-color: #f38bae;
$main-background-color: #f6f6f6;

$admin-sidebar-width: 300px;