$fontfamily: 'FF_DIN_Round_Pro';
$minwidth:320px;
$mw:1200;
$md1:$mw+12;
$md2:990;
$md3:767.98;
$md4:479.98;

$transition-time: .2s;
$mt-section: 80px;
$main-color: #f38bae;
$main-background-color: #f6f6f6;