.video-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2d3e50;
  position: absolute;
  opacity: 0.7;
}
.menu-social-icon {
  text-align: right;
  font-size: 30px;
  a {
    color: $main-color;
    text-decoration: none;
    margin-left: 20px;
  }
}